<form id="post-form" action="/editPostContentButton" method="POST">
    <label for="post-title">Nadaj tytuł</label><br>
    <textarea id="post-title" name="post-title" rows="4" cols="50"><%= editPostTitle %></textarea><br>
  
    <label for="post-content">Napisz posta:</label><br>
    <textarea id="post-content" name="post-content" rows="4" cols="50"><%= editPostText %></textarea><br>
  
    <button type="submit" class="blog-button">Zapisz Posta</button>
  </form>
  