<form id="post-form" action="/getNewPostContent" method="POST">
    <label for="post-title">Nadaj tytul</label><br>
    <textarea id="post-title" name="post-title" rows="4" cols="50" placeholder="Wpisz tytul  posta"></textarea><br>

    <label for="post-content">Napisz posta:</label><br>
    <textarea id="post-content" name="post-content" rows="4" cols="50" placeholder="Wpisz zawartość posta"></textarea><br>
    <button type="submit" class="blog-button">Zapisz Posta</button>
  </form>